* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: $color-background;
  height: 100vh;
  background-image: linear-gradient(to bottom, $color-background 40%, $color-background-shadow 99%);
  color: $color-primary;
  overflow-x: hidden;
}

/* Estilo para el cursor */
body {
  cursor: auto; /* Desactiva el cursor predeterminado */
}

p {
  color: $color-secondary;
}

.cursor {
  z-index: -1;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: transparent;
  transform: translate(-50%, -50%);
  pointer-events: none;
  box-shadow: 100px 0px 50px $color-background-shadow;
}

.container {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  max-width: 1300px;
  margin: 0 auto;
  
}


.card {
  width: 500px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid transparent;
}


.list {
  width: min-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  gap: 20px;
  padding: 20px;
  list-style: none;



  li {
      opacity: 1;
      transition: all 0.2s ease-in-out;
      border: 1px solid transparent;

      
  }

  &:hover li {
      opacity: 0.5;
  }

  li:hover{
          opacity: 1;
          border: 1px solid white;
          border-radius: 5px;
  }
}








@media (max-width: 768px) {
  .cursor {
    display: none;

  }

  .container {
    padding: 15px;
    grid-template-columns: 1fr;
  }

  .card {
    width: 100%;
    margin: 0 auto;
    
}

  .list {
    width: 100%;
    flex-direction: column;
    align-items: center;
    
    li {
        width: 100%;
        max-width: 500px;
    }
  }
  
}